<!DOCTYPE html>
<html>
<head>
    <title>Add Jobcard</title>
</head>
<body>

<h2>Create Jobcard</h2>

<form action="/submit" method="POST">
    <input type="text" name="reg_no" placeholder="Registration Number" required><br><br>
    <input type="text" name="make" placeholder="Make" required><br><br>
    <input type="text" name="model" placeholder="Model" required><br><br>
    <input type="text" name="owner_name" placeholder="Owner Name" required><br><br>

    <button type="submit">Submit</button>
</form>

</body>
</html>